@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: #16121A;
    --bgdark:#110D14;
   --grey:#757575;
   --blue: #00BFFF;
   --font:#C4C4C4;
   --card:#252226;
   --white:#ffffff;
   --green:#00222E;
   --radial: radial-gradient(50% 50% at 50% 50%, #00BFFF 0%, #728AE6 100%);
   ;
}

body{
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    background-color:var(--bgdark);
}

.generalflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left-panel styling starts here */
.left-panel{
    width: 20%;
    padding-top:48px;
    margin-top: -900px;
    position: sticky;
    top: 0;
}
.logo{
    width: 184px;
    height: 24px; 
    /* margin: 48px 49px 80px; */
    margin-bottom: 80px;
    margin-left: 49px;
}
.navs{
gap:20px;
justify-content: left;
margin-left: 74px;
margin-bottom: 40px;
cursor: pointer;
}

.navs p{
color:var(--grey)

}

/* left-panel styling ends here */


/* main-panel styling starts here */
.main-panel{
    width: 60%;
    padding-top: 48px;
    border-left: 2px solid var(--grey);
    border-right: 2px solid var(--grey);
    padding-left: 30px;
    padding-right: 10px;
}
.search-bar{
gap: 20px;
padding: 8px 320px 8px 90px;
width: 476px;
background-color:var(--card);
margin-left: 10px;
border-radius: 8px;
/* margin-top: 48px; */

}
.song-search{
    border: none;
}
input[type=search]{
    background-color: transparent;
}
input::placeholder{
color: var(--font);
}
.display-bg{
    background-color:var(--blue);
    margin: 64px 10px 40px 8px ;
    padding-left: 40px;
}
.display-bg-text{
    color: var(--white);
}
.soundmack{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.listen{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px;
}
.extra{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}
.explore{
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    width: 158px;
    height: 40px;
    background-color: var(--white);
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color: var(--blue);
    cursor: pointer;
}

.trending{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--font);
}
.songs{
    /* justify-content: space-between; */
    color: var(--font);
    background-color: var(--card);
    padding: 8px 48px;
    width: 100%;
    margin: 10px;
}
.sn{
    margin-right: 32px;
    
}
.coverimg{
width: 48px;
height: 48px;
background: #C4C4C4;
border-radius: 8px;
margin-right: 24px;
}
.song-info{
    color: var(--font);
    margin-right: 130px;
    justify-content: left;
    justify-items: left;


}
.sub-info{
    color: var(--grey);
gap: 14px;
align-items: center;
justify-content: center;
justify-items: center;
}
.song-deets{
    color: var(--font);
    gap: 80px;
}



/* main-panel styling ends here */


/* right-panel styling starts here */
.right-panel{
    width: 20%;
}
/* right-panel styling ends here */